{% extends "src/Bowling/Resources/views/layout.html.twig" %}

{% set menu = 'Référentiels' %}
{% set titre = 'type de jeu' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ menu }}</li>
    <li>{{ titre }}</li>
    <li>Ajout</li>
    {% endblock %}

{% block content %}

    {% include 'app/Resources/views/fragments/titreMode.html.twig' with {'genre': 'm'} %}

    {{ form_start(form, { 'attr': { 'role': 'form' }, 'method': 'post' }) }}

    {{ form_errors(form) }}

    {% include 'src/Bowling/Resources/views/type/formTypeJeu.html.twig' %}

    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}    
    {{parent()}}
    <script type="text/javascript">
        $(document).ready(function () {
            // Focus sur le premier champ d'input
            $("input:first").focus();
        });
    </script>
{% endblock %}