<div class="row">
    <div class="form-group col-md-2 text-right">
        {{ form_row(form.dtDeb) }}
    </div>

    <div class="form-group col-md-2 text-right">
        {{ form_row(form.dtFin) }}
    </div>
</div>

<div class="row">
    <div class="form-group col-md-2 text-right">
        {{ form_row(form.isActive) }}
    </div>

    <div class="col-md-3 form form-inline text-right">
        {{ form_row(form.annuler) }}
        {{ form_row(form.save) }}
        <a href="{{ path('bowling-periode') }}">{{ form_row(form.quitter) }}</a>
    </div>
</div>
