{% extends "src/Livre/Resources/views/layout.html.twig" %}

{% set menu = 'liste' %}
{% set route = 'livre' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ route }}</li>
    <li>Livres avec vocabulaire</li>
    {% endblock %}

{% block content %}
    <h3>Liste des {{ nbRecords }} livres avec vocabulaire nouveau</h3>

    <div class="table-responsive row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table id="dataTable"class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="w9">Livres</th>
                        <th class="w9">Auteur(s)</th>
                        <th class="w9">Dt Achat</th>
                    </tr>
                </thead>
                {% for livre in records %}
                    <tr>
                        <td class="text-right">
                            {{ livre.titre }}
                        </td>
                        <td>
                            {% for auteur in livre.auteurs %}
                                {{ auteur }}<br />
                            {% else %}
                                -----
                            {% endfor %}
                        </td>
                        <td class="text-center">
                            {{ livre.dateAchat|date('Y/m/d') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
